@model HomeViewModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    @{
        Layout = null;
    }

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/mystyles.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="background-color: #e7e9ec;" class="vh-100">



    <!-- Menu opciones -->


    <!-- Create Modal -->
    <div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">Crear evento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="create-event-form" class="needs-validation" novalidate asp-controller="Home"
                    asp-action="CreateEvent" method="post">
                    <div class="modal-body">
                        <label class="form-label mb-4 fw-light">Los campos obligatorios están marcados con <span
                                class="text-danger fw-semibold">*</span></label>
                        <div class="input-group d-flex flex-column mb-3">
                            <label for="inputGroupFile" class="form-label label-input-file">Imagen</label>
                            <div class="d-flex input-group">
                                <input asp-for="@Model.NewEvent.Image" type="file" class="form-control"
                                    id="inputGroupFile" aria-label="Erase" title="Imagen">
                                <button class="btn btn-outline-danger delete-file-button" type="button"
                                    id="inputGroupFile">Eliminar</button>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.NewEvent.Titulo" type="text" class="form-control" id="titulo-input"
                                placeholder="Título" required>
                            <label for="titulo-input">Título <span class="text-danger fw-semibold">*</span></label>
                            <div class="invalid-tooltip">
                                Campo vacío.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.NewEvent.Descripcion" type="text" class="form-control"
                                id="descripcion-input" placeholder="Descripción" required>
                            <label for="descripcion-input">Descripción <span
                                    class="text-danger fw-semibold">*</span></label>
                            <div class="invalid-tooltip">
                                Campo vacío.
                            </div>
                        </div>
                        <div class="form-check form-switch d-flex align-items-center mb-3">
                            <input class="form-check-input me-2" type="checkbox" role="switch" id="aforo-switch">
                            <label class="form-check-label flex-shrink-0" for="aforo-switch">Aforo máximo</label>
                            <div class="container-numero-aforomax ms-auto form-floating">
                                <input asp-for="@Model.NewEvent.Aforo" type="number" class="form-control"
                                    id="aforo-input" placeholder="Descripción" disabled>
                                <label for="aforo-input">Número</label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.NewEvent.Direccion" type="text" class="form-control"
                                id="direccion-input" placeholder="Dirección" required>
                            <label for="direccion-input">Dirección <span
                                    class="text-danger fw-semibold">*</span></label>
                            <div class="invalid-tooltip">
                                Campo vacío.
                            </div>
                        </div>
                        <div class="fechas-container flex-column flex-sm-row d-flex align-items-center mb-3 gap-3">
                            <div class="w-100 me-sm-auto form-floating d-flex">
                                <input asp-for="@Model.NewEvent.FechaInicio" type="datetime-local" class="form-control"
                                    id="inicio-input" placeholder="Inicio"
                                    value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required>
                                <label for="inicio-input">Inicio <span class="text-danger fw-semibold">*</span></label>
                            </div>
                            <div class="w-100 ms-sm-auto form-floating d-flex">
                                <input asp-for="@Model.NewEvent.FechaFin" type="datetime-local" class="form-control"
                                    id="fin-input" placeholder="Fin" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
                                    required>
                                <label for="fin-input">Fin <span class="text-danger fw-semibold">*</span></label>
                            </div>
                        </div>
                        <label class="mb-2">Tipo de evento <span class="text-danger fw-semibold">*</span></label>
                        <div class="d-flex align-items-center mb-3 gap-3">
                            <input type="radio" class="btn-check" name="radio-tipo" id="inscripcion-input"
                                autocomplete="off" value="inscripcion" checked>
                            <label class="btn btn-outline-success" for="inscripcion-input">Inscripción</label>

                            <input type="radio" class="btn-check" name="radio-tipo" id="invitacion-input"
                                autocomplete="off" value="invitacion">
                            <label class="btn btn-outline-success" for="invitacion-input">Invitación</label>
                            <input asp-for="@Model.NewEvent.Tipo" type="hidden" id="Tipo"/>
                        </div>
                        <div class="text-help-container d-flex">
                            <div class="card card-body text-help">
                                Con el tipo inscripción puedes compartir tu enlace de evento con la gente que quieras
                                sin necesidad de confirmación del asistente.
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-transparent text-primary me-auto"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-transparent text-primary fw-bold ms-auto">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="w-100 h-100 justify-content-center align-items-start d-flex" style="background-color: #e7e9ec;">
        <div class="event-container h-100 d-flex flex-column align-items-center">
            <div class="event-container-header d-flex w-100 btn-add-event px-4 pt-4 m-0 mb-4">
                <!-- boton nuevo evento -->
                <button class="create-event-button btn btn-primary rounded-5 me-2" data-bs-toggle="modal"
                    data-bs-target="#create-modal">
                    <div class="d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-circle-plus me-2"></i>
                        <span class="fw-semibold mb-1-custom">Nuevo</span>
                    </div>
                </button>
                <input class="search-bar-input form-control ms-auto rounded-5" type="search"
                    placeholder="&#xf002; Buscar" aria-label="Search">
            </div>
            <div class="event-container-element row m-0">
                <!-- EVENT CARDS -->
                @if (Model.EventList.Count != 0)
                {
                    @foreach (var evento in Model.EventList)
                    {
                        <div class="event-card-container col-lg-6-modify p-4 pt-0 justify-content-center d-flex-notimportant">
                            <div class="w-100 card event-card rounded-4 overflow-hidden">
                                <!-- HEADER -->
                                <div class="flex-column d-flex card-header bg-image position-relative"
                                    style="background-image: url('data:image/jpeg;base64,@Convert.ToBase64String(evento.Image)'); background-size: cover; background-repeat: no-repeat; height: 9rem;">
                                    <!-- Boton opciones -->
                                    <div class="event-card-element d-flex align-items-center justify-content-start">
                                        <span class="badge estado-evento"></span>
                                    </div>
                                    <div class="event-card-element flex-grow-1 d-flex justify-content-start align-items-end">
                                        <div class="d-flex rounded-3 p-2 align-items-center" style="background-color: #e7e9ec;">
                                            <i class="event-card-icon mx-1 bi bi-geo-alt-fill" style="color: #ff9d46;"></i>
                                            <span class="fw-semibold fs-6 me-1">@evento.Direccion</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- BODY -->
                                <div class="card-body p-0 d-flex flex-column align-items-start">
                                    <div class="d-flex rounded-3 p-2 m-3" style="background-color: #e7e9ec;">
                                        <span class="event-title fw-bold">@evento.Titulo</span>
                                    </div>
                                    <div class="d-flex rounded-3 p-2 m-3 mt-0" style="background-color: #e7e9ec;">
                                        <span class="fw-semibold fs-6">@evento.Descripcion</span>
                                    </div>
                                </div>
                                <!-- FOOTER -->
                                <div class="card-footer d-flex text-body-secondary ">
                                    <div class="d-flex align-items-center">
                                        <i class="event-card-icon bi bi-clock-fill ms-2" style="color: #ff9d46;"></i>
                                        <span class="ms-2 me-1 fecha-evento-inicio">@evento.FechaInicio.ToString("dd/MM/yyyy HH:mm")</span>-<span class="ms-1 fecha-evento-fin">@evento.FechaFin.ToString("dd/MM/yyyy HH:mm")</span>
                                    </div>
                                    @if (@evento.Aforo != 0)
                                    {
                                        <div class="d-flex ms-auto align-items-center">
                                            <i class=" event-card-icon bi bi-people-fill" style="color: #ff9d46;"></i>
                                            <span class="ms-2 me-2">@evento.Aforo</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <span class="text-center fs-4 fw-semibold" style="color: rgb(193 193 193);">Sin eventos creados. Prueba a crear uno pulsando el botón "Nuevo"</span>
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="createEventModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createEventModalLabel">Crear evento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @TempData["TempMessage"]
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="~/lib/fontawesome/fontawesome.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/myscripts.js"></script>

    <script>
        $(document).ready(() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
        });
    </script>

    @if (TempData["TempMessage"] != null)
    {
        <script>
            function deleteTempData(key) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteTempData", "Home")",
                    data: { key: key },
                    success: function () { },
                    error: function () { }
                });
            }

            $(document).ready(function () {
                $('#createEventModal').modal('show');
                deleteTempData("TempMessage");
            });
        </script>
    }

    <script>
        $(document).ready(function() {
            var currentDate = new Date();

            $(".event-card-container").each(function() {
                var fechaInicio = getDateFromFormattedString($(this).find(".fecha-evento-inicio").text());
                var fechaFin = getDateFromFormattedString($(this).find(".fecha-evento-fin").text());

                if (currentDate >= fechaInicio && currentDate <= fechaFin) {
                    $(this).find(".estado-evento").text("En curso");
                    $(this).find(".estado-evento").addClass('text-bg-success');
                } else if (currentDate > fechaFin) {
                    $(this).find(".estado-evento").text("Finalizado");
                    $(this).find(".estado-evento").addClass('text-bg-secondary');
                } else {
                    $(this).find(".estado-evento").text("Programado");
                    $(this).find(".estado-evento").addClass('text-bg-warning');
                }
            });

            function getDateFromFormattedString(dateString) {
                var parts = dateString.split(/[\s/:]+/);
                var day = parseInt(parts[0], 10);
                var month = parseInt(parts[1], 10) - 1;
                var year = parseInt(parts[2], 10);
                var hour = parseInt(parts[3], 10);
                var minute = parseInt(parts[4], 10);

                return new Date(year, month, day, hour, minute);
            }

            $('.create-event-button').on('click', () => {
                $('#inicio-input').val('@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")');
                $('#fin-input').val('@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")');
            });
        });
    </script>
</body>

</html>