@model List<Event>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    @{
        Layout = null;
    }

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/mystyles.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="background-color: #e7e9ec;" class="vh-100">

    <!-- Menu opciones -->
    <div class="offcanvas offcanvas-custom" data-bs-theme="dark" tabindex="-1" id="menu-opciones"
        aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title fw-bold" id="offcanvasBottomLabel">Opciones</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <button class="btn btn-dark btn-lg w-100 text-start rounded-3">
                <i class="fa-regular fa-pen-to-square me-2"></i>
                <span>Editar</span>
            </button>
            <button class="btn btn-dark btn-lg w-100 text-start rounded-3">
                <i class="fa-regular fa-trash-can me-2"></i>
                <span>Eliminar</span>
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">Crear evento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label class="form-label mb-4 fw-light">Los campos obligatorios están marcados con <span
                            class="text-danger fw-semibold">*</span></label>
                    <div class="input-group d-flex flex-column mb-3">
                        <label for="inputGroupFile" class="form-label label-input-file">Imagen</label>
                        <div class="d-flex input-group">
                            <input type="file" class="form-control" id="inputGroupFile" aria-label="Erase"
                                title="Imagen">
                            <button class="btn btn-outline-danger delete-file-button" type="button"
                                id="inputGroupFile">Eliminar</button>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="titulo-input" placeholder="Título">
                        <label for="titulo-input">Título <span class="text-danger fw-semibold">*</span></label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="descripcion-input" placeholder="Descripción">
                        <label for="descripcion-input">Descripción <span
                                class="text-danger fw-semibold">*</span></label>
                    </div>
                    <div class="form-check form-switch d-flex align-items-center mb-3">
                        <input class="form-check-input me-2" type="checkbox" role="switch" id="aforo-switch">
                        <label class="form-check-label flex-shrink-0" for="aforo-switch">Aforo máximo</label>
                        <div class="container-numero-aforomax ms-auto form-floating">
                            <input type="number" class="form-control" id="aforo-input" placeholder="Descripción"
                                disabled>
                            <label for="aforo-input">Número</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="direccion-input" placeholder="Dirección">
                        <label for="direccion-input">Dirección <span class="text-danger fw-semibold">*</span></label>
                    </div>
                    <div class="flex-column flex-sm-row d-flex align-items-center mb-3 gap-3">
                        <div class="w-100 me-sm-auto form-floating d-flex">
                            <input type="datetime-local" class="form-control" id="inicio-input" placeholder="Inicio">
                            <label for="inicio-input">Inicio <span class="text-danger fw-semibold">*</span></label>
                        </div>
                        <div class="w-100 ms-sm-auto form-floating d-flex">
                            <input type="datetime-local" class="form-control" id="fin-input" placeholder="Fin">
                            <label for="fin-input">Fin <span class="text-danger fw-semibold">*</span></label>
                        </div>
                    </div>
                    <label class="mb-2">Tipo de evento <span class="text-danger fw-semibold">*</span></label>
                    <div class="d-flex align-items-center mb-3 gap-3">
                        <input type="radio" class="btn-check" name="options-outlined" id="inscripcion-input"
                            autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="inscripcion-input">Inscripción</label>

                        <input type="radio" class="btn-check" name="options-outlined" id="invitacion-input"
                            autocomplete="off">
                        <label class="btn btn-outline-success" for="invitacion-input">Invitación</label>
                    </div>
                    <div class="text-help-container d-flex">
                        <div class="card card-body text-help">
                            Con el tipo inscripción puedes compartir tu enlace de evento con la gente que quieras
                            sin necesidad de confirmación del asistente.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-transparent text-primary me-auto"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-transparent text-primary fw-bold ms-auto">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="h-100 justify-content-center align-items-start d-flex" style="background-color: #e7e9ec;">
        <div class="event-container h-100 d-flex flex-column align-items-center">
            <div class="event-container-header d-flex w-100 btn-add-event px-4 pt-4 m-0 mb-4">
                <!-- boton nuevo evento -->
                <button class="create-event-button btn btn-primary rounded-5 me-2" data-bs-toggle="modal"
                    data-bs-target="#create-modal">
                    <div class="d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-circle-plus me-2"></i>
                        <span class="fw-semibold mb-1-custom">Nuevo</span>
                    </div>
                </button>
                <input class="search-bar-input form-control ms-auto rounded-5" type="search"
                    placeholder="&#xf002; Buscar" aria-label="Search">
            </div>
            <div class="event-container-element row m-0 pb-4">
                <!-- EVENT CARDS -->
                @if (Model != null)
                {
                    @foreach (var evento in Model)
                    {
                        <div class="event-card-container col-lg-6-modify p-4 pt-0 justify-content-center d-flex-notimportant">
                            <div class="w-100 card event-card rounded-4 overflow-hidden">
                                <!-- HEADER -->
                                <div class="flex-column d-flex card-header bg-image position-relative"
                                    style="background-image: url('data:image/jpeg;base64,@Convert.ToBase64String(evento.Image)'); background-size: cover; background-repeat: no-repeat; height: 9rem;">
                                    <!-- Boton opciones -->
                                    <div class="event-card-element d-flex align-items-center justify-content-start">
                                        <button
                                            class="options-button circle-button rounded-circle btn-primary btn d-flex align-items-center justify-content-center"
                                            type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-opciones"
                                            aria-controls="offcanvasBottom">
                                            <i class="event-card-icon bi bi-three-dots-vertical text-white"></i>
                                        </button>
                                    </div>
                                    <div class="event-card-element flex-grow-1 d-flex justify-content-start align-items-end">
                                        <div class="d-flex rounded-3 p-2 align-items-center" style="background-color: #e7e9ec;">
                                            <i class="event-card-icon mx-1 bi bi-geo-alt-fill" style="color: #ff9d46;"></i>
                                            <span class="fw-semibold fs-6 me-1">@evento.Direccion</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- BODY -->
                                <div class="card-body p-0 d-flex flex-column align-items-start">
                                    <div class="d-flex rounded-3 p-2 m-3" style="background-color: #e7e9ec;">
                                        <span class="event-title fw-bold">@evento.Titulo</span>
                                    </div>
                                    <div class="d-flex rounded-3 p-2 m-3 mt-0" style="background-color: #e7e9ec;">
                                        <span class="fw-semibold fs-6">@evento.Descripcion</span>
                                    </div>
                                </div>
                                <!-- FOOTER -->
                                <div class="card-footer d-flex text-body-secondary ">
                                    <div class="d-flex align-items-center">
                                        <i class="event-card-icon bi bi-clock-fill ms-2" style="color: #ff9d46;"></i>
                                        <span class="ms-2">@evento.FechaInicio - @evento.FechaFin</span>
                                    </div>
                                    @if (@evento.Aforo != 0)
                                    {
                                        <div class="d-flex ms-auto align-items-center">
                                            <i class=" event-card-icon bi bi-people-fill" style="color: #ff9d46;"></i>
                                            <span class="ms-2 me-2">@evento.Aforo</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <span class="fw-medium">Sin eventos creados. Prueba a crear uno pulsando el botón "Nuevo"</span>
                }
            </div>
        </div>

    </div>

    <!-- SCRIPTS -->
    <script src="~/lib/fontawesome/fontawesome.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/myscripts.js"></script>
</body>

</html>