@model EventViewModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meethub</title>

    @{
        Layout = null;
    }

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/mystyles.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body class="vh-100">

    <!-- Confirmar Modal -->
    <div class="modal fade" id="confirm-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">¿Estás seguro?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal"
                        style="width: 100px;">No</button>
                    <form asp-action="EliminarEvento" method="post">
                        <input type="hidden" name="idEvento" value="@Model.eventTarget.IdEvent" />
                        <button type="submit" class="btn btn-primary ms-auto confirm-button"
                            style="width: 100px;">Si</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="py-4 eventview-container w-100 h-100 d-flex overflow-y-auto" style="background-color: #e7e9ec;">
        @* INFO DE EVENTO *@
        <div class="info-event-container justify-content-start d-flex p-3 flex-column">
            <div class="d-flex w-100 backbutton-container justify-content-start pb-3">
                <a href="@Url.Action("Index", "Home")"
                    class="back-button btn p-0 rounded-5 d-flex align-items-center justify-content-center me-auto"
                    style="width: 50px; height: 50px;"><i class="back-icon fs-2 bi bi-chevron-left"></i></a>

                <button class="btn btn-success d-none ms-auto align-items-center justify-content-center rounded-4"
                    id="qr-button" type="button" data-bs-toggle="collapse" data-bs-target="#qr-container"
                    aria-expanded="false" aria-controls="qr-container">
                    Escanear
                    <i class="bi bi-qr-code-scan ms-2"></i>
                </button>

            </div>

            <div class="collapse" id="qr-container">
                <div class="card card-body p-3 border rounded-4 bg-light mb-2 d-flex flex-column">
                    <div class="d-flex w-100 align-items-start justify-content-start">
                        <button
                            class="mb-2 p-0 btn bg-transparent d-flex align-items-center justify-content-center close-cam-button"
                            style="height: 40px; width: 40px;">
                            <i class="bi bi-x" style="font-size: 40px;"></i>
                        </button>
                    </div>
                    <video id="qr-video" class="w-100 h-auto"></video>
                </div>
            </div>

            <div class="d-flex flex-column w-100 eventdata-container p-3 border rounded-4 bg-light">
                <div class="d-flex w-100 mb-3">
                    <button class="d-flex me-auto btn btn-primary rounded-5 justify-content-center edit-button"
                        style="width: 100px;">Editar</button>
                    <button data-bs-toggle="modal" data-bs-target="#confirm-modal"
                        class="d-flex ms-auto btn btn-outline-danger rounded-5 justify-content-center"
                        style="width: 100px;">Eliminar</button>
                </div>
                <div class="d-flex flex-column w-100">
                    <form asp-action="EditarEvento" method="post" class="w-100 needs-validation" id="edit-event-form"
                        novalidate asp-controller="Home">
                        <input type="hidden" asp-for="@Model.eventTarget.IdEvent" value="@Model.eventTarget.IdEvent" />
                        <div class="d-flex flex-column mb-3">
                            <label style="font-size: 16px;">Tipo de evento por <label
                                    class="fw-bold">@Model.eventTarget.Tipo</label>
                            </label>
                            <label class="fst-italic" style="font-size: 13px;">Esta característica no se puede
                                modificar</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.eventTarget.Titulo" value="@Model.eventTarget.Titulo" type="text"
                                class="form-control" id="titulo-input-edit" placeholder="Título" disabled required>
                            <label for="titulo-input-edit">Título</label>
                            <div class="invalid-feedback">
                                Campo vacío.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.eventTarget.Descripcion" value="@Model.eventTarget.Descripcion"
                                type="text" class="form-control" id="descripcion-input-edit" placeholder="Descripción"
                                disabled required>
                            <label for="descripcion-input-edit">Descripción</label>
                            <div class="invalid-feedback">
                                Campo vacío.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.eventTarget.Direccion" value="@Model.eventTarget.Direccion"
                                type="text" class="form-control" id="direccion-input-edit" placeholder="Dirección"
                                disabled required>
                            <label for="direccion-input-edit">Dirección</label>
                            <div class="invalid-feedback">
                                Campo vacío.
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            @if (Model.eventTarget.Aforo != null)
                            {
                                <div class="form-check form-switch me-auto">
                                    <input class="form-check-input" type="checkbox" role="switch" id="aforo-check" disabled
                                        checked>
                                    <label class="form-check-label" for="aforo-check">Aforo</label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check form-switch me-auto">
                                    <input class="form-check-input" type="checkbox" role="switch" id="aforo-check" disabled>
                                    <label class="form-check-label" for="aforo-check">Aforo</label>
                                </div>
                            }
                            <div class="form-floating ms-auto ps-2">
                                <input asp-for="@Model.eventTarget.Aforo" value="@Model.eventTarget.Aforo" type="number"
                                    class="form-control" id="aforo-input-edit" placeholder="Número" disabled>
                                <label class="ms-2" for="aforo-input-edit">Número</label>
                            </div>
                        </div>

                        <div class="my-flex-sm-row d-flex align-items-center gap-3">
                            <div class="w-100 me-sm-auto form-floating d-flex flex-column">
                                <input asp-for="@Model.eventTarget.FechaInicio" type="datetime-local"
                                    class="form-control" id="inicio-input-edit" placeholder="Inicio"
                                    value="@Model.eventTarget.FechaInicio.ToString("yyyy-MM-ddTHH:mm")" required
                                    disabled>
                                <label for="inicio-input-edit">Inicio</label>
                                <div class="invalid-feedback">
                                    Campo vacío.
                                </div>
                            </div>
                            <div class="w-100 ms-sm-auto form-floating d-flex flex-column">
                                <input asp-for="@Model.eventTarget.FechaFin" type="datetime-local" class="form-control"
                                    id="fin-input-edit" placeholder="Fin"
                                    value="@Model.eventTarget.FechaFin.ToString("yyyy-MM-ddTHH:mm")" required disabled>
                                <label for="fin-input-edit">Fin</label>
                                <div class="invalid-feedback">
                                    Campo vacío.
                                </div>
                            </div>
                        </div>

                        <!-- BOTONES FORMULARIO -->
                        <div class="w-100 mt-3" id="buttons-form" style="display: none;">
                            <button type="button" class="btn btn-secondary me-auto btn-cancelar">Cancelar</button>
                            <button type="submit" class="btn btn-success ms-auto btn-guardar">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @* LISTA ASISTENTES *@
        <div class="list-assistants-container justify-content-start d-flex pb-4 p-3 flex-column">
            <div class="spacer w-100 justify-content-start pb-3 pe-3">
                <div style="width: 50px; height: 50px;"></div>
            </div>

            <div class="d-flex flex-column w-100 enlace-container p-3 border rounded-4 bg-light mb-2 border">
                <label class="w-100 text-center mb-3">¡Comparte este enlace con tus invitados para que se unan a tu
                    evento!</label>
                <div class="d-flex w-100 justify-content-end align-items-center rounded-top-3"
                    style="height: 40px; background-color: #4c4c4c;">
                    <div id="copy-button"
                        class="d-flex align-items-center justify-content-center me-3 p-1 m-1 rounded-3">
                        <label style="font-size: 12px;" class="text-light me-2 copy-text">Copiar</label>
                        <i class="bi bi-clipboard text-light copy-icon"></i>
                        <i class="bi bi-check2 text-light copied-icon" style="display: none;"></i>
                    </div>
                </div>
                <div class="d-flex w-100 justify-content-start align-items-center rounded-bottom-3 p-3"
                    style="height: 50px; background-color: #181818;">
                    <label
                        class="text-light text-truncate text-decoration-underline fw-light enlace-text">https://mvs.sytes.net/meethub/AssistantForm/Form/@Model.eventTarget.IdEvent</label>
                </div>
            </div>


            <div class="d-flex w-100 py-2 px-3 border border-bottom-0 rounded-top-4 bg-light">
                <label class="fs-3 fw-semibold me-auto" style="height: 45px;">Asistentes</label>
                <div class="d-flex ms-auto me-1 reload-button" style="cursor: pointer;">
                    <i class="bi bi-arrow-clockwise fs-4 align-items-center d-flex"></i>
                </div>
            </div>
            <div class="d-flex flex-column w-100 assistants-container p-3 border rounded-bottom-4 bg-light overflow-y-auto"
                style="max-height: 500px;">
                @if (Model.AssistantList.Count > 0)
                {
                    @foreach (var assistant in Model.AssistantList)
                    {
                        string modalId = "confirm-modal-asistant-" + assistant.IdAssistant;
                        <div class="d-flex w-100" style="height: 45px; min-height: 45px;">
                            @if (Model.eventTarget.Tipo == "inscripcion")
                            {
                                <div class="d-flex name-container h-100 align-items-center w-100">
                                    <span class="fw-semibold text-truncate text-start pe-2" data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        data-bs-title="@assistant.Nombre @assistant.Apellidos">@assistant.Nombre
                                        @assistant.Apellidos</span>
                                    <span class="text-secondary text-truncate text-end" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-title="@assistant.Email">/
                                        @assistant.Email</span>
                                </div>
                            }
                            @if (Model.eventTarget.Tipo == "invitacion")
                            {
                                <div class="d-flex name-container h-100 align-items-center" style="width: calc(100% - 80px);">
                                    <span class="fw-semibold text-truncate text-start pe-2" data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        data-bs-title="@assistant.Nombre @assistant.Apellidos">@assistant.Nombre
                                        @assistant.Apellidos</span>
                                    <span class="text-secondary text-truncate text-end" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-title="@assistant.Email">/ @assistant.Email</span>
                                </div>
                                <div class="ms-2 d-flex confirm-container h-100 gap-2 align-items-center justify-content-end"
                                    style="width: 80px;">
                                    @if (assistant.Aprobado == false)
                                    {
                                        <button data-bs-toggle="modal" data-bs-target="#@modalId"
                                            class="btn bg-transparent p-0 d-flex align-items-center justify-content-center noconfirm-button"
                                            style="width: 32px; height: 32px;">
                                            <i class="bi bi-x" style="font-size: 34px;"></i>
                                        </button>
                                        <button
                                            onclick="aceptarAsistente('@Url.Action("aprobarAsistente", "Home")', @assistant.IdAssistant)"
                                            class="btn bg-transparent p-0 d-flex align-items-center justify-content-center confirm-button"
                                            style="width: 32px; height: 32px;">
                                            <i class="bi bi-check" style="font-size: 34px;"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button
                                            class="btn bg-transparent p-0 d-flex align-items-center justify-content-center confirm-button"
                                            style="width: 32px; height: 32px;" disabled>
                                            <i class="bi bi-check" style="font-size: 34px;"></i>
                                        </button>
                                    }
                                </div>

                                <!-- Confirmar Modal Asistant -->
                                <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="confirm-modal-asistantLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">¿Estás seguro?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Se eliminará el asistente seleccionado.</p>
                                            </div>
                                            <div class="modal-footer d-flex">
                                                <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal"
                                                    style="width: 100px;">No</button>
                                                <button type="submit" class="btn btn-primary ms-auto" style="width: 100px;"
                                                    onclick="aceptarAsistente('@Url.Action("rechazarAsistente", "Home")', @assistant.IdAssistant)">Si</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
                else
                {
                    <span class="text-center fs-5 fw-medium mt-3" style="color: rgb(193 193 193);">Todavía no hay
                        asistentes
                        en tu evento.</span>
                }
            </div>
        </div>

        <div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editEventModalLabel">Alerta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @TempData["TempMessage"]
                    </div>
                </div>
            </div>
        </div>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="assistant-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bi bi-person-fill-check me-2" style="font-size: 20px;"></i>
                    <strong class="me-auto">Invitación</strong>
                    <small>Aviso</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    @TempData["ToastMessage"]
                </div>
            </div>
        </div>

        <div class="position-fixed bottom-0 end-0 p-3">
            <div id="toast-prueba" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bi bi-person-fill-check me-2" style="font-size: 20px;"></i>
                    <strong class="me-auto">Invitación</strong>
                    <small>Aviso</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Qr escaneado
                </div>
            </div>
        </div>


        <!-- SCRIPTS -->
        <script src="~/lib/fontawesome/fontawesome.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/clipboardjs/clipboard.min.js"></script>
        <script src="~/lib/qr-scanner/qr-scanner.umd.min.js"></script>
        <script src="~/js/myscripts.js"></script>

        @if (TempData["ToastMessage"] != null)
        {
            <script>
                $(document).ready(function () {
                    const toastLiveExample = document.getElementById('assistant-toast')
                    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                    toastBootstrap.show();
                    deleteTempData("ToastMessage");
                });
            </script>
        }

        @if (TempData["TempMessage"] != null)
        {
            <script>
                $(document).ready(function () {
                    $('#editEventModal').modal('show');
                    deleteTempData("TempMessage");
                });
            </script>
        }

        <script>
            function deleteTempData(key) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteTempData", "Home")",
                    data: { key: key },
                    success: function () { },
                    error: function () { }
                });
            }

            function aceptarAsistente(url, idAssistant) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { idAssistant: idAssistant },
                    success: function (response) {
                        if (response.success) {
                            // Acciones a realizar en caso de éxito
                            location.reload();
                        } else {
                            // Acciones a realizar en caso de error
                            location.reload();
                        }
                    },
                    error: function () {
                        // Acciones a realizar en caso de error de comunicación
                        alert('Error al comunicarse con el servidor.');
                    }
                });
            }

            function getDateFromFormattedString(dateString) {
                var parts = dateString.split(/[\s/:]+/);
                var day = parseInt(parts[0], 10);
                var month = parseInt(parts[1], 10) - 1;
                var year = parseInt(parts[2], 10);
                var hour = parseInt(parts[3], 10);
                var minute = parseInt(parts[4], 10);

                return new Date(year, month, day, hour, minute);
            }

            var isProgress = false;
            function checkProgress() {
                var currentDate = new Date();
                var fechaInicio = getDateFromFormattedString("@Model.eventTarget.FechaInicio.ToString("dd/MM/yyyy HH:mm")");
                var fechaFin = getDateFromFormattedString("@Model.eventTarget.FechaFin.ToString("dd/MM/yyyy HH:mm")");

                if (currentDate >= fechaInicio && currentDate <= fechaFin) {
                    isProgress = true;
                    console.log("en curso");
                } else {
                    console.log("no en curso");
                }
            }

            $(document).ready(() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');
                    }, false);
                });

                $('.eventview-container .edit-button').on('click', function () {
                    $('.eventview-container .edit-button').prop('disabled', true);
                    $('#buttons-form').addClass('d-flex');
                    $('#buttons-form').show();

                    $('.eventview-container input').prop('disabled', false);
                    if ('@Model.eventTarget.Aforo' == '') {
                        $('#aforo-input-edit').prop('disabled', true);
                    } else {
                        $('#aforo-input-edit').prop('disabled', false);
                    }
                });

                $('.eventview-container .btn-cancelar').on('click', function () {
                    $('.eventview-container .edit-button').prop('disabled', false);
                    $('#buttons-form').removeClass('d-flex');
                    $('#buttons-form').hide();

                    $('#titulo-input-edit').val('@Model.eventTarget.Titulo');
                    $('#descripcion-input-edit').val('@Model.eventTarget.Descripcion');
                    $('#direccion-input-edit').val('@Model.eventTarget.Direccion');
                    $('#aforo-input-edit').val('@Model.eventTarget.Aforo');
                    $('#inicio-input-edit').val('@Model.eventTarget.FechaInicio.ToString("yyyy-MM-ddTHH:mm")');
                    $('#fin-input-edit').val('@Model.eventTarget.FechaFin.ToString("yyyy-MM-ddTHH:mm")');
                    if ('@Model.eventTarget.Aforo' != '') {
                        $('#aforo-check').prop('checked', true);
                    } else {
                        $('#aforo-check').prop('checked', false);
                    }

                    $('.eventview-container input').prop('disabled', true);
                });

                $('#aforo-check').on('change', function () {
                    if ($('#aforo-check').prop('checked') == true) {
                        $('#aforo-input-edit').prop('disabled', false);
                    } else {
                        $('#aforo-input-edit').prop('disabled', true);
                        $('#aforo-input-edit').val('');
                    }
                });

                $("#edit-event-form").submit(function (event) {
                    // Obtener valores de las fechas de inicio y fin
                    var fechaInicio = new Date($("#inicio-input").val());
                    var fechaFin = new Date($("#fin-input").val());

                    // Validar la fecha de fin
                    if (fechaFin <= fechaInicio) {
                        event.preventDefault(); // Evitar el envío del formulario
                        alert("La fecha de fin debe ser posterior a la fecha de inicio");
                    }
                });

                $('[data-bs-toggle="tooltip"]').tooltip();

                $('.reload-button').on('click', function () {
                    $('.bi-arrow-clockwise').toggleClass('rotate-diagonal-1');
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                });

                // MOSTRAR BOTON ESCANER QR
                checkProgress();
                if (isProgress) {
                    $("#qr-button").removeClass('d-none');
                    $('#qr-button').addClass('d-flex');
                }
            });
        </script>

        <script>
            // GENERAR ESCANER QR
            $(document).ready(function () {
                const videoElement = document.getElementById('qr-video');
                const scanButton = document.getElementById('qr-button');
                const scanner;

                scanButton.addEventListener('click', function () {
                    $('#qr-button').prop('disabled', true);
                    scanner = new QrScanner(videoElement, result => {
                        console.log('Código QR escaneado:', result);
                        $('#toast-prueba').toast('show');
                    });
                    scanner.start();
                });

                $('.close-cam-button').on('click', function () {
                    scanner.stop();
                    $('#qr-container').collapse('hide');
                    $('#qr-button').prop('disabled', false);
                });
            });
        </script>


</body>

</html>